.Profile {
    display: grid;
    justify-content: center;
}

.ProfileInput {
    margin-bottom: 10px;
    width: 350px;
    justify-content: center;
}

.ProfileBtn {
    justify-content: center;
}

.btnColor {
    background-color: #731DD8 !important;
    border: solid 2px #731DD8 !important;
}

.profileTranslation {
    display: flex;
    align-items: center;
    margin-left: 28%;
}

.childOne,
.childTwo {
    display: block;
    margin: 10px;
}

.profileBtns {
    display: flex;
    justify-content: center;
}

.childBtn,
.childBtn2 {
    display: block;
    margin: 5px;
}

.profileImg {
    width: 60px;
    height: 60px;
}