.Start {
    display: grid;
    justify-content: center;
}

.StartInput {
    margin-bottom: 10px;
    width: 350px;
    justify-content: center;
}

.StartBtn {
    justify-content: center;
}

.btnColor {
    background-color: #731DD8 !important;
    border: solid 2px #731DD8 !important;
}