body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font {
  font-family: 'Bebas Neue', cursive;
}

.font:hover {
  font-family: 'Bebas Neue', cursive;
}

.btnColor:hover {
  cursor: crosshair !important;
}